@model List<Moldtrax.Models.PerformanceDashBoard>


@{
    ViewBag.Title = "Index";
    Layout = null;
}

@*<a href="/MaintenanceAlertStat/Index" class="btn btn-success">Refresh Chart</a>*@
<a href="/MaintenanceAlertStat/Index" target="_blank" class="btn btn-primary">Back</a>

@*<button onclick="window.location.href='/MaintenanceAlertStat/PrintPDF'" formtarget="_blank">Print</button>*@
@*<button onclick="window.location.href='/MaintenanceAlertStat/Index'">Refresh Chart</button>*@
<div id="chart_div"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'name');
        data.addColumn('number', 'y');

        @*$.getJSON("@Url.Action("GetData")", null, function (chartData) {
            $.each(chartData, function (i, item) {
                data.addRow([item.Name, item.Y]);
            });
        })*@

        @foreach (var x in Model)
        {
            @: data.addRow(['@x.Status',@x.Cnt])
        }

        var options = {
            'title': 'Mold PM Cycle Alert',
            'width': 600,
            'height': 500
            
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
