@using ReportViewerForMvc;

@{
    ViewBag.Title = "LastShotInspection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="text-right">
    <button onclick="window.close()" class="back_btn">Back</button>
</div>*@

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)


<script>
    $(document).ready(function () {
        $("#HeaderTop").hide();
    });
</script>


