
@{
    ViewBag.Title = "GetChecksheetDropdown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetChecksheetDropdown</h2>


<div id="ChecksheetDropdown">
    @Html.Action("GetChecksheetDropdownData","Administration")
</div>
