@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card box_design">
            <div class="card_header">
                <h5>Users</h5>
            </div>
            <div class="card_body">
                <div class="row">
                    <div class="col-md-5" id="ShowUserList">
                       @Html.Action("GetUserData","SecurityManager")
                    </div>
                    <div class="col-md-7" id="ShowGroupsMeme">
                       @Html.Action("GetMemberandGroups", "SecurityManager")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#navSecurity').addClass('actives');
    });
</script>