@model System.Data.DataTable

@{
    ViewBag.Title = "ShowMoldtraxReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .code-cut {
        /* overflow: auto; */
        display: inline-block;
    }

    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }

    .truncate {
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script src="~/Scripts/jquery.table2excel.js"></script>

<div id="MainFastraxDiv">


</div>


<script>

    //$(document).ready(function () {
    //    var table = $('#Datatabletbl').DataTable({
    //        "paging": false,
    //        "lengthMenu": [
    //            [5, 10, 25, 50, 100, -1],
    //            [5, 10, 25, 50, 100, "All"]
    //        ],
    //        "autoWidth": true,
    //        "responsive": true,
    //        "lengthChange": true,
    //        "ordering": true,
    //        columnDefs: [{
    //            targets: [2],
    //            createdCell: function (cell) {
    //                var $cell = $(cell);


    //                $(cell).contents().wrapAll("<div class='content'></div>");
    //                var $content = $cell.find(".content");

    //                $(cell).append($("<button>Read more</button>"));
    //                $btn = $(cell).find("button");

    //                $content.css({
    //                    "height": "50px",
    //                    "overflow": "hidden"
    //                })
    //                $cell.data("isLess", true);

    //                $btn.click(function () {
    //                    var isLess = $cell.data("isLess");
    //                    $content.css("height", isLess ? "auto" : "50px")
    //                    $(this).text(isLess ? "Read less" : "Read more")
    //                    $cell.data("isLess", !isLess)
    //                })
    //            }
    //        }]
    //    });

    //    //Moving Table Filtering Search Bar To A Table Header.
    //    $('#tableSearch').html($('.dataTables_filter'));
    //    //Moving Results Per Page DropDown Menu To A Table Header.
    //    $('#tablePerPage').html($('#table_length'));
    //});

    $(document).ready(function () {
        var table = $('#Datatabletbl').DataTable({
            "paging": false,
            columnDefs: [{ targets: 2, className: "truncate" }],
            createdRow: function (row) {
                var td = $(row).find(".truncate");
                td.attr("title", td.html());
            }
        });
    });

    //$(document).ready(function () {
    //    $('#Datatabletbl').DataTable({
    //        "paging": false,
    //        columnDefs: [{
    //            targets: [2],
    //            render: function (data, type, row) {
    //                return data.length > 50 ?
    //                    data.substr(0, 50) + '…' :
    //                    data;
    //            }
    //        }]
    //    })
    //});


    //function fnExcelReport()
    //{
    //    $("#Datatabletbl").table2excel({
    //        // exclude CSS class
    //        exclude: ".noExl",
    //        name: "Worksheet Name",
    //        filename: "Fastrax", //do not include extension
    //        fileext: ".xlsx" // file extension
    //    }); 
    //}

    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('Datatabletbl'); // id of table

        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Fastrax.csv");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }

</script>
<script>
    document.getElementById('report_tables').style.height = window.innerHeight - 100 + 'px';
    //window.onresize = autoResizeDiv;
</script>